# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3
COMP3340-Final-Proj/Django/FinalProj/media/item_images/1_DEMO_Cooler_Master_NR200_White_CASE_PdG5DUF.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/2_DEMO_Cooler_Master_NR200_White_CASE_1SxrWxT.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/3_DEMO_Cooler_Master_NR200_White_CASE_UdIMg0G.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/ALIENWARE_38_CURVED_GAMING_MONITOR_2_tJRnZDX.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/ALIENWARE_38_CURVED_GAMING_MONITOR_3_rTvyuSb.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/ALIENWARE_38_CURVED_GAMING_MONITOR_MJ09a5o.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/AMD_Ryzen_5_7600X_dkQAY08.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/ASRock_B760M_PG_Riptide_Motherboard_KuJ4e7v.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/ASRock_X670E_mnb8roM.png
COMP3340-Final-Proj/Django/FinalProj/media/item_images/CORSAIR_RMX_Series_RM850x_80_Plus_Gold_PSU_nYd2qG7.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/CORSAIR_SF1000L_Fully_Modular_PSU_MRSRj9v.png
COMP3340-Final-Proj/Django/FinalProj/media/item_images/CORSAIR_Vengeance_RGB_32_GB_2x16GB_DDR5_RAM_OF5fNqv.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/CPU_Ryzen_5_5600_AWfUSim.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/Dell_27_Gaming_Monitor_-_G2724D_rBjWSab.png
COMP3340-Final-Proj/Django/FinalProj/media/item_images/G.Skill_RipJaws_V_7WNI0eB.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/Intel_Core_i5-12600K_CPU_4cqjx32.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/Intel_Core_i7-12700KF_CPU_Z8xz5Xt.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/Lian_Li_LI_PC-O11_Dynamic_EVO_Black_Case_4yvTWyi.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/MSI_Mech_Radeon_RX_6650_XT_8GB_GPU_n1BXmck.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/MSI_MPG_Z790_Edge_WiFi_Gaming_Motherboard_hD0G8BF.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/MSI_PRO_B660M-A_Motherboard_6kJ4EOY.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/MSI_RX_7900_XTX_GAMING_TRIO_CLASSIC_24G_GPU_OlvBdJY.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/NZXT_H5_Flow_Compact_ATX_Mid-Tower_Case_qghVaA3.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/Patriot_P210_SATA_3_2TB_uGTp0in.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/Patriot_P400_1TB_Internal_SSD_OLbeyQt.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/Patriot_Viper_Venom_DDR5_32GB_2_x_16GB_2_WtSS3pI.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/Patriot_Viper_Venom_DDR5_32GB_2_x_16GB_2.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/Patriot_Viper_Venom_DDR5_32GB_2_x_16GB_7qhVJsO.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/Patriot_Viper_Venom_DDR5_32GB_2_x_16GB_sXfkHAC.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/Samsung_870_EVO_4TB_SATA_SSD_d9ebbq0.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/TEAMGROUP_T-Create_64GB_DD4_RAM_zqHh7Lv.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/WD_BLACK_4TB_SN850X_NVMe_SSD_rW7i5NK.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/WD_Blue_WD80EAZZ_8TB_HDD_oGxNvjP.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/Western_Digital_18TB_WD_Red_Pro_HDD_OIeuCDM.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/XFX_SPEEDSTER_MERC319_RADEON_RX_6950_XT_GPU_7Lmzadb.jpg
COMP3340-Final-Proj/Django/FinalProj/media/item_images/XPG_CORE_Reactor_850Watt_80_Plus_Gold_OxRDwXK.jpg
COMP3340-Final-Proj/Django/FinalProj/media/Profile_Images/cropped_prof_pic_rs1u1YJ.png
FinalProjectImages/Patriot Viper Venom DDR5 32GB (2 x 16GB) 2.jpg
